/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--bg-color);
  color: var(--fg-color);
}

.spacer {
  flex: 1 1 auto;
}

.display-1 {
  font-size: 2rem;
}

.display-2 {
  font-size: 4rem;
}